# Lock files
~$*
.~lock.*#
*.lock

# Node.js packages and information
node_modules
package-lock.json

# Common compiled files
dist

# Archive/binary files
*.zip
*.tar
*.tar.gz
*.tgz
*.gz
*.iso
*.7z
*.rar
*.bin
*.exe
*.apk
*.msi
*.jar
*.class

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Kotlin compiler output
.kotlin/sessions/kotlin-compiler-*.salive

# Gradle wrapper - use global Gradle instance instead
gradlew
gradlew.bat

# VSCode binary files
app/bin
